<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <form action="/login" method="POST">
            <h1>Login</h1>
            <label for="email">Email: </label>
            <input type="email" name="email" id="email" required>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" required>
            <button type="submit">Log In</button>
        </form>
    </body>
</html>