<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <form action="/secret/<%= id %>" method="POST">
            <h1>Secret Code Service</h1>
            <label for="secretCode">What is the secret code?</label>
            <input type="text" name="secretCode" id="secretCode">
            <button type="submit">Try Code</button>
        </form>
    </body>
</html>